@import url('reset.css');
@import url('blue.css');
@import url('960_12_col.css');
/*@import url(red.css);*/
/*@import url(green.css);*/
/*=======================================*/
/* These are used to change which colour 
/* scheme you want. Comment out the colours
/* you don't want to use.
/*=======================================*/

/*=================================*/
/* Skipopia Premium Theme
/* April 2009
/* By: Gilbert Pellegrom
/* http://www.gilbertpellegrom.co.uk
/*=================================*/

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	font-family:Helvetica,"Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Sans-Serif,Verdana,Arial;
	font-size:12px;
	line-height:1.4em;
	color:#444;
}




h1 {
	font-size:18px;
	font-weight:bold;
	line-height:30px;
	margin-bottom:7px;
	color:#243945;
	margin: 0 0 0 -10px;
}
#headerlogo h1 {
	text-indent: 100px;
	font-size:36px;
	text-align: left;
	margin-top: 30px;
	
	font-family: 'merienda One', cursive;
	letter-spacing: 0px;
	color: white;
	font-weight:bold;
	text-shadow: 0 1px 0 white;
	padding:7px 0px;
}


h2 {
	font-size:22px;
	font-weight:bold;
	line-height:30px;
	color:#243945;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	padding-top:8px;
}

h3 {
	font-size:12px;
	
	line-height:18px;
	color:#243945;
	margin:5px 0;
	padding-top:10px;
}


p {
	margin-bottom:10px;
}
ol {
	list-style:decimal;
	padding-left:20px;
	padding-bottom:7px;
}
ul {
	list-style:none;
	list-style-image:url(../images/tick_small.png);
	padding-left:25px;
	padding-bottom:7px;
}
li {
	padding:0px;
}

b, strong {
	font-weight:bold;
}
i, em {
	font-style:italic;
}

code {
	font-family:Courier,"Courier New",Monaco,Tahoma;
	padding:0px 2px;
}
pre {
	padding:0px 20px;
	margin:20px;
}
blockquote {
	font-style:italic;
	padding:0px 10px;
	margin:0 0 10px 20px;
	border-left:3px solid #243945;
	font-size:14px;
}

/*========================*/
/*=== Structure Styles ===*/
/*========================*/
#wrapper {
	width:1010px;
	margin:0 auto;
}



#headerlogo{
width:700px;
margin-top: 20px;
	height:100px;
	margin-left:-100px;}
#slogan {
	text-indent: 100px;
	font-size:20px;
	text-align: left;
	margin-top: 30px;
	font-family: Lucida Calligraphy;
	letter-spacing: -2px;
	color: grey;
	font-weight:bold;
	
}

#nav{
width:879px;
color: white;
font-weight:bold;

}
#nav ul {
	list-style:none;
	float:right;
	margin-right:-120px;
}
#nav li {
	display:inline;
	padding:0;
	
	
	margin-right: 100px;
	background-color: rgba(40,0,0,0.2);
	
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15;

	float:left;
	color: white;
	text-align: center;


}
/*#nav a {
	display:block;
	border:0;
	text-indent:-9999px;
	float:left;
	height:41px;
}
*/
#middlebar-head{
	width:879px;
	height:36px;
	margin-left:21px;
	font-family: Lucida Calligraphy;
	text-align: center;
}
#middlebar-big {
	width:879px;
	height:465px;
	position:center;
}
#middlebar-big h2 {
	padding:62px 0 0 100px;
	color:#fff;
	font-size:28px;
	line-height:30px;
	font-weight:bold;
	border:0;
}	
#middlebar-big p {
	padding:5px 0 10px 100px;
	font-size:22px;
	line-height:23px;
}	
#middlebar-big a.learn-more {
	display:block;
	text-indent:-9999px;
	width:130px;
	height:26px;
}
#middlebar-big .product {
	position:relative;
	width:100%;
	height:100%;
	background:transparent !important; /* Strange fix needed for IE */
	margin-top:20px;
}
#middlebar-big .product p { margin-bottom:0px; }
#middlebar-big .product a { border:0; }
#middlebar-big .product a:hover { color:#20333F; }
#middlebar-big .product img {
	position:absolute;
	top:0px;
	right:100px;
}	
#middlebar-small {
	width:879px;
	height:140px;
	margin-left:21px;
	position:relative;
}
#middlebar-small h2 {
	padding:70px 0 0 50px;
	color:#fff;
	
	font-size:28px;
	line-height:30px;
	font-weight:bold;
	border:0;
}

#body {
	background:#fff;
	width:864px;
	margin-left:36px;
	-moz-border-radius:15px;
   -webkit-border-radius:15px;
border-radius: 15;
}
#loginbody {
font-family:Helvetica,"Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Sans-Serif,Verdana,Arial;
	font-size:12px;
	line-height:1.4em;
	color:#444;
	background:#fff;
	width:864px;
	margin-left:36px;
	height:100px;
	margin-top: -10px;
}
#body-inner {
	padding: 25px  25px;
}

#footer {
	width:879px;
	height:68px;
	margin:0 0 40px 21px;
	padding:38px 0 0 40px;
	color:#5c7788;
}
#loginfooter {
	width:879px;
	height:68px;
	margin:0 0 40px 21px;
	padding:38px 0 0 40px;
	color:#5c7788;
}
#footer-left {
	float:left;
	margin:0;
	padding:0;
}

#footer-right {
	float:right;
	margin:0 70px 0 0;
	padding:0;
}
#footer a {
	color:#5c7788;
	border:0;
}

#main-content {
	width:400px;
	float: right;
}
#sidebar {
	clear:left;
	width: 100px;
}
#sidebar h3 {
	padding:0 0 10px 0;
}
#sidebar h3.icon {
	background:url(../images/sidebar.png) no-repeat;
	padding:5px 0 0 45px;
	height:40px;
}
#sidebar h3.icon-contact {
	background:url(../images/contact.png) no-repeat;
	padding:5px 0 0 45px;
	height:40px;
}
#sidebar h3.icon-cats {
	background:url(../images/cats.png) no-repeat;
	padding:5px 0 0 45px;
	height:40px;
}
#sidebar h3.icon-feature {
	background:url(../images/feature.png) no-repeat;
	padding:5px 0 0 45px;
	height:40px;
}
.red{
background: red;
}
.grey{
background: grey;
}
.sub-box {
	float:left;
	width:227px;
	margin-right:30px;
	padding-right:20px;
	border-right:1px solid #ccc;
	margin-bottom:30px;
}
.sub-box.right {
	margin-right:0px;
	border-right:0px;
	padding-right:0px;
}
.sub-box img {
	float:left;
	margin:0px 10px 0 0;
}
.sub-box h3 {
	padding:5px 0 18px 0;
}

.product-main {
	
	float:right;
	width:220px;
	border-left:1px solid #ccc;
	padding-left:25px;
}
/*.product-main img {
	float:left;
	margin-right:30px;
	margin-bottom:30px;
}*/
.product-main a img {
	border:0;
}

.cost {
	font-size:28px;
	float:right;
	color:#334F60;
	font-weight:bold;
	font-style:italic;
	font-family:Georgia,Times,serif;
}

p.buy-now {
	text-align:right;
}
p.buy-now a {
	border:0;
	color:#fff;
	padding:5px;
}
p.buy-now a:hover {
	border:0;
	background:#243945;
}


/*====================*/
/*=== Input Styles ===*/
/*====================*/
input,
textarea,
select {
  padding: 4px;
  font: 400 1em Verdana, Sans-serif;
  color: #444;
  background:#ffffff;
  border: 1px solid #999;
  margin:2px;
}

input:focus,
textarea:focus,
select:focus {
  color: #000;
}

input.button,th{
  color: #fff;
  width:150px !important;
  border:2px;
  margin:2px 0 0 0;
  
}
input.button : hover{
  color: #fff;
  width:150px !important;
  border:0px;
  font-family: Cooper Std Black;
}

label {
	font-weight:bold;
}

.form {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;
}
.form input, .form textarea {
	width:300px;
}
.form label {
	display:inline-block;
	padding-top:8px;
	vertical-align:top;
	width:100px;
}

/*====================*/
/*=== Other Style ===*/
/*====================*/
.clear {
	clear:both;
}

ul.links {
	list-style:none;
	list-style-image:none;
	padding:0;
	margin:0;
}
ul.links a {
	display:block;
	
}

a{
text-decoration:none;
}

#leftnav{
margin-left: -110px;
background-color: grey;
overflow: hidden;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius: 15;
width:140px;
float:left;
color: white;
size:35px;

}
#rightnav{
margin-right: -96px;
padding:80px 20px 25px 40px;

overflow: hidden;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius: 15;
width:140px;

color: grey;
size:35px;

}
#nav li:hover {
	color: white;
	background-color: grey;
}
#nav a:hover {
	
	color: white;
	background-color: grey;
	font-weight:bold;
	
}
#leftnav h3 {
	
	color: white;
	font-weight:bold;
	
}
#rightnav h3 {
	
	color: black;
	font-weight:bold;
	
}
#nav{
color: white;
font-weight:bold;
}
#nav ul {
	list-style:none;
	float:right;
	padding:0;
	padding-top:0px;
}
#nav li {
	display:inline;
	padding:0;
	padding-right:0px;
}
#nav tr {
	margin-left:100px;
	
	
}
#nav td {
	float:left;
}
#login{
color: white;
font-weight:bold;
float:right;
padding-right:110px;

}
#loginbutton {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15;
	width:100px;
	color: white  ;
	background-color: grey;
	font-weight:bold;
}


#login td {
	display:inline;
	padding:0;
	padding-left: 10px;
	
}